.k-radio {
    &-image{
        .item{
            label{
                display: block;
                width: 59px;
                height: 83px;
                border: 1px solid rgba(255, 255, 255, 0.15);
                background: rgba(255, 255, 255, 0.05) center / 20px no-repeat;
                cursor: pointer;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            &.type-file{
                label{
                    background-image: url('@/assets/icons/20/ic-plus.svg');
                }
            }
            input{
                // display: none;
            }
        }
    }
    &-illustration{
        label{
            display: block;
            width: 63px;
            height: 84px;
            padding: 5px;
            border-radius: 6px;
            cursor: pointer;
            &:hover{
                background-color: rgba(255, 255, 255, 0.10);
            }
            &:has(:checked){
                padding: 3px;
                border: 2px solid #d3d3d3;
            }
        }
        img{
            width: 100%;
            height: 100%;
            border-radius: 2px;
            object-fit: cover;
        }
    }
    &-palette{
        label{
            display: block;
            width: 46px;
            aspect-ratio: 1/1;
            padding: 5px;
            border-radius: 50%;
            cursor: pointer;
            .color-wrap{
                display: block;
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }
            &:hover{
                background-color: rgba(255, 255, 255, 0.10);
            }
            &:has(:checked){
                border: 2px solid rgba(255, 255, 255, 0.8);
                padding: 3px;
            }
        }
        &.size-sm{
            label{
                width: 20px;
                padding: unset;
                &:has(:checked){
                    border: unset;
                    .color-wrap{
                        background: url('@/assets/icons/20/ic-check.svg') no-repeat center/20px;
                    }
                }
            }
        }
    }
}