// ========================================
// 카카오톡 클론 - 메인 SCSS 파일
// ========================================

@use '@/assets/styles/views/view-chat.scss';
@use '@/assets/styles/views/view-chat-list.scss';
@use '@/assets/styles/views/view-profile.scss';
@use '@/assets/styles/views/view-more.scss';

.view-container{
    min-height: 100vh;
    height: auto;

    &.view-type-main{
        height: 100vh;
        display: grid;
        grid-template-rows: auto 1fr;
        grid-template-columns: auto 1fr;
        grid-template-areas:
            "gnb top-nav"
            "gnb body";

        .gnb{
            grid-area: gnb;
        }
        .top-nav{
            grid-area: top-nav;
        }
        .view-container-body{
            grid-area: body;
            overflow-y: auto;
        }
    }
}