.view-setting{
}

.wrap-setting{
    margin-bottom: 34px;
    dt{
        margin-bottom: 8px;
    }
    dd{
        margin-bottom: 20px;
    }
    .title{
        font: 700 14px/120% "Pretendard";
        color: #fff;
        letter-spacing: -0.06em;
        span{
            font: {
                weight: 500;
                size: 13px
            };
            line-height: 110%;
            color: #9e9e9e;
        }
    }
    .dscpt{
        font: 500 13px/120% "Pretendard";
        color: #9E9E9E;
        letter-spacing: -0.04em;
        margin-bottom: 10px;
    }
    .wrap-input{
        display: flex;
        align-items: center;
        gap: 6px;
        margin-top: 10px;
        &.type-column{
            flex-direction: column;
            gap: 6px;
            align-items: unset;
        }

        .label-select{
            font: 500 13px/120% "Pretendard";
            color: #9E9E9E;
            letter-spacing: -0.04em;
            margin-right: auto;
        }
    }
}

.info-account{
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 5px;
    padding: 14px 20px 18px;
    font: 500 13px/ 120% "Pretendard";
    color: #a7a7a7;
    display: table;
    width: 100%;
    dl{
        display: table-row;
        &:not(:last-child) > *{
            padding-bottom: 10px;
        }
    }
    dt{
        display: table-cell;
        width: 1%;
        white-space: nowrap;
    }
    dd{
        display: table-cell;
        color: #fff;
        padding-left: 10px;
    }
}