.view-more {
    background-color: #222222;
    .view-container{
        &-body{
            padding: 16px;
        }
    }
}

.user-card {
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 20px 15px 20px 18px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-name {
        font: 500 16px/100% "Pretendard";
        color: #fff;
    }

    &-email {
        font: 400 12px/100% "Pretendard";
        letter-spacing: 0.03em;
        color: #9e9e9e;
        margin-top: 8px;
    }
}

.anchor-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2px;
    margin-top: 32px;
    .anchor-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding: 10px;
        font: 500 12px/100% "Pretendard";
        color: #a7a7a7;
    }
}

.info-kakaotalk{
    border-top: 1px solid #434343;
    font: 500 13px/120% "Pretendard";
    color: #dfdfdf;
    padding: 20px 12px 20px 8px;
    margin-top: 32px;
    &,
    & > div{
        display: flex;
        align-items: center;
        gap: 6px;
    }
    p{
        color: #989898;
        margin-left: auto;
    }
}