.view-chat{
    display: flex;
    flex-direction: column;
    &-header{
        flex: 0 0 auto;
        padding: 10px 20px;
    }
    &-body{
        flex: 1;
        padding: 10px 20px;
        overflow-y: auto;
    }
    &-footer{
        flex: 0 0 auto;
        padding: 10px 14px;
        border-top: 1px solid #313131;
        .k--textarea{
            width: 100%;
            textarea{
                border: unset;
                height: 66px;
            }
        }
        .btn-wrap{
            display: flex;
            align-items: center;
            gap: 8px;
            .k-button--primary{
                margin-left: auto;
            }
        }
    }
}