.view-chat{
    max-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    &-header{
        display: flex;
        align-items: center;
        gap: 12px;
        padding: 14px 5px 10px 14px;
        background-color: #151515;

        .chat-info{
            display: flex;
            flex-direction: column;
            gap: 3px;
            .c{
                &-name{
                    font: 500 15px/16px "Pretendard";
                    color: #fff;
                    margin-left: 2px;
                }
                &-headcount{
                    font: 500 13px/normal "Pretendard";
                    letter-spacing: -0.07em;
                    color: #8A8A8A;

                    display: flex;
                    align-items: center;
                    gap: 1px;
                }
            }
        }

        .btn-wrap{
            display: flex;
            align-items: center;
            margin-left: auto;
            .k-button--icon{
                width: 30px;
                height: 30px;
                border-radius: 50%;
                &:hover{
                    background-color: rgba(255, 255, 255, 0.1025);
                }
            }
        }
    }
    &-body{
        padding: 10px 8px 10px 15px;
        overflow-y: auto;
        background-color: #151515;
    }
    &-footer{
        padding: 10px 14px;
        border-top: 1px solid #313131;
        .k--textarea{
            width: 100%;
            textarea{
                border: unset;
                height: 66px;
            }
        }
        .btn-wrap{
            display: flex;
            align-items: center;
            gap: 8px;
            .k-button--primary{
                margin-left: auto;
            }
        }
    }
}