.k-button {
    position: relative;
    background-color: #222;
    color: #fff;
    border: 1px solid #424242;
    height: 30px;
    border-radius: 6px;
    min-width: 60px;
    padding-inline: 12px;
    font: 500 13px/normal "Pretendard";
    cursor: pointer;

    &--text {
        background-color: unset;
        color: #111;
        border: none;
        padding: unset;
        font: 500 12px/125% "Pretendard";
        letter-spacing: -0.01em;
        height: unset;
        display: inline;

        min-width: unset;
    }

    &--primary {
        background-color: #FFE707;
        color: #111;
        border: 1px solid #FFE707;
    }

    &--disabled {
        background-color: #383838;
        color: #808080;
        border: 1px solid #383838;
    }

    &--round {
        font: {
            size: 11px;
        }   
        line-height: 100%;
        height: 23px;
        border-radius: 12px;
        padding-inline: 7px;
        min-width: unset;
    }

    &--toggle {
        line-height: 120%;
        letter-spacing: -0.03em;
        height: 26px;
        border-radius: 12px;
        padding-inline: 9px 28px;
        min-width: unset;
    }

    &--icon {
        min-width: unset;
        width: fit-content;
        aspect-ratio: 1;
        padding: 0;
        border: none;
        border-radius: unset;
        background: center/24px no-repeat;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

    .user-card &{
        margin-bottom: 3px;
    }

    .wrap-setting &{
    }

    .gnb-top &{
        &.active{
            path{
                fill: #eeeeee;
            }
        }
    }
}