@use "sass:map";

.chat-bubble{
    $chat-colors: (
        me: (
            bg: #ffe608,
            text: #010100
        ),
        other: (
            bg: #353535,
            text: #ffffff
        )
    );

    .send{
        display: flex;
        gap: 5px;
        align-items: flex-end;
        justify-content: flex-end;
        margin-bottom: 6px;
        .info{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 2px;
            font: 500 11px/110% "Pretendard";
            color: #ffe608;
            .timestamp{
                color: #D0D1D0;
            }
        }
        .content{
            position: relative;
            max-width: 265px;
            &.type{
                &-text{
                    border-radius: 2px;
                    background-color: map.get(map.get($chat-colors, me), bg);
                    color: map.get(map.get($chat-colors, me), text);
                    font: 500 13px/125% "Pretendard";
                    letter-spacing: 0.01em;
                    padding: 7px 10px 8px;
                    white-space: pre-line;

                    svg{
                        position: absolute;
                        right: -8px;
                    }
                    .message-link {
                        color: inherit;
                        text-decoration: underline;
                    }
                }
                &-image{
                    img{
                        width: 100%;
                        object-fit: cover;
                    }
                }
                &-emoji{
                    margin-bottom: 4px;
                    img{
                        display: block;
                        max-width: 120px;
                        width: 100%;
                        object-fit: cover;
                        margin-left: auto;
                    }
                }
                &-file{
                    width: 210px;
                    padding: 8px 8px 10px;
                    border-radius: 2px;
                    background-color: #fff;
                    .file-info{
                        display: flex;
                        div:first-child{
                            flex: 1;
                        }
                        .file-icon{
                            width: 38px;
                            height: 38px;
                            border-radius: 50%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            &:has([src*="download"]){
                                background-color: #f5f5f5;
                            }
                        }
                    }
                    .f{
                        &-name{
                            font: 500 13px/125% "Pretendard";
                            color: #000;
                            letter-spacing: -0.02em;
                            margin-top: 5px;
                            margin-bottom: 8px;
                        }
                        &-period{
                            font: 500 11px/110% "Pretendard";
                            color: #767676;
                            margin-bottom: 3px;
                        }   
                        &-size{
                            font: 500 11px/110% "Pretendard";
                            color: #767676;
                        }
                    }
                    .btn-wrap{
                        margin-top: 8px;
                        .k-button + .k-button{
                            position: relative;
                            margin-left: 13px;
                            &::before{
                                content: "";
                                width: 2px;
                                height: 2px;
                                border-radius: 50%;
                                background-color: #0B73DC;
                                position: absolute;
                                top: 50%;
                                left: -8px;
                                transform: translateY(-50%);
                            }
                        }
                    }
                }
            }
        }

        &.send-other{
            flex-direction: row-reverse;
            .info{
                align-items: flex-start;
            }
            .content{
                &.type{
                    &-text{
                        background-color: map.get(map.get($chat-colors, other), bg);
                        color: map.get(map.get($chat-colors, other), text);
                        svg{
                            left: -8px;
                            right: unset;
                            transform: rotateY(180deg);
                            path{
                                fill: map.get(map.get($chat-colors, other), bg);
                            }
                        }
                    }
                    &-emoji{
                        img{
                            margin-left: unset;
                        }
                    }
                }
            }
        }
    }
}
.chat-group{
    padding-right: 8px;
    &:has(.sender-info){
        padding-right: unset;
        padding-left: 46px;
    }
    .sender-info{
        position: relative;
        & + .bubbles{
            padding-left: 2px;
        }
        .k-avatar{
            position: absolute;
            top: 0;
            left: -46px;
        }
        .s-name{
            font: 500 13px/16px "Pretendard";
            color: #EDEDED;
            letter-spacing: 0.01em;
            margin-bottom: 10px;
        }
    }
}

.me{
    & + .other{
        margin-top: 14px;
    }   
}
.other{
    & + .me{
        margin-top: 14px;
    }
}