.chatting-card {
    width: 100%;
    padding: 15px 20px;
    display: flex;
    gap: 12px;
    align-items: center;
    letter-spacing: -0.05em;
    color: #fff;
    cursor: pointer;
    overflow: hidden;

    &:hover{
        background-color: rgba(255, 255, 255, 0.05);
    }

    &:active{
        background-color: rgba(255, 255, 255, 0.10);
    }

    &-info {
        min-width: 0;
        display: flex;
        flex-direction: column;
        gap: 3px;
        flex: 1;
        padding-bottom: 4px;
        &-time{
            display: flex;
            flex-direction: column;
            gap: 5px;
            align-items: flex-end;
        }
    }

    .c {
        &-name {
            font: 700 14px/130% "Pretendard";
            display: flex;
            align-items: center;
            gap: 2px;
        }
        &-headcount {
            font: 500 13px/110% "Pretendard";
            color: #9e9e9e;
            margin-left: 2px;
        }
        &-time{
            font: 500 12px/normal "Pretendard";
            color: #9e9e9e;
        }
        &-unread {
            min-height: 18px;
            & > span{
                display: inline-block;
                font: 700 10px/normal "Pretendard";
                color: #fff;
                background-color: #F4551E;
                min-width: 18px;
                padding: 2px 6px 4px 6px;
                border-radius: 10px;
                text-align: center;
            }
        }
        &-message {
            white-space: pre-line;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
            font: 500 13px/110% "Pretendard";
            color: #9e9e9e;
        }
    }
}