.k-checkbox{
    label{
        position: relative;
        display: inline-flex;
        align-items: center;
        gap: 8px;
        font: 700 13px/120% "Pretendard";
        color: #fff;
        cursor: pointer;
        & + label{
            margin-left: 16px;
        }
    }
    span:empty{
        display: none;
    }
    &.type{
        &-image{
            label{
                width: 122px;
                height: 122px;
                border: 1px solid rgba(255, 255, 255, 0.15);
                background: rgb(213, 213, 213, .3);
                border-radius: 2px;
                box-sizing: border-box;
                &:hover{
                    border-color: rgba(255, 255, 255, 0.9);
                }
                &:has(:checked){
                    background-color: unset;
                    border: 2px solid rgba(255, 255, 255, 0.8);
                    img{
                        padding: 4px;
                    }
                }
            }
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &-file{
            width: 166px;
            border: 1px solid rgba(255, 255, 255, 0.15);
            border-radius: 4px;
            padding: 3px;
            box-sizing: border-box;
            .file-info{
                padding: 10px 10px 7px;
                img{
                    margin-bottom: 22px;
                }
                p{
                    font: 500 11px/120% "Pretendard";
                    letter-spacing: 0.03em;
                    color: #9E9E9E;
                }
                .f{
                    &-name{
                        font-size: 13px;;
                        letter-spacing: 0.02em;
                        color: #fff;
                        margin-bottom: 6px;
                        word-break: break-all;
                    }
                    &-period{
                        margin-bottom: 10px;
                    }
                }
            }
            &:hover{
                border-color: #fff;
                background-color: rgba(255, 255, 255, 0.05);
            }
            &:has(:checked){
                padding: 2px;
                border: {
                    width: 2px;
                    color: #fff;
                }
                .file-info{
                    background-color: rgba(255, 255, 255, 0.05);
                }
            }
        }
        &-link{
            width: 166px;
            border: 1px solid rgba(255, 255, 255, 0.15);
            border-radius: 4px;
            // padding: 3px;
            box-sizing: border-box;
            label{
                width: 100%;
                flex-direction: column;
                gap: unset;
                & > img{
                    width: 100%;
                    height: 83px;
                    object-fit: cover;
                }
            }
            .link-info{
                padding: 12px 14px 8px;
                margin-bottom: 3px;
                width: 100%;
                p,
                a{
                    font: 500 12px/120% "Pretendard";
                    letter-spacing: 0.02em;
                    color: #9E9E9E;
                }
                .l{
                    &-title{
                        font-size: 13px;
                        letter-spacing: 0.01em;
                        color: #fff;
                        margin-bottom: 6px;
                        word-break: break-all;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                    }
                    &-dscpt{
                        word-break: break-all;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                        margin-bottom: 10px;
                    }
                }
            }
            &:hover{
                border-color: rgba(255, 255, 255, 0.8);
            }
            &:has(:checked){
                border: {
                    width: 2px;
                    color: rgba(255, 255, 255, 0.8);
                }
                & > img{
                    height: 82px;
                }
                .link-info{
                    background-color: rgba(255, 255, 255, 0.05);
                    margin: 0 2px 2px;
                    width: calc(100% - 4px);
                    padding: 12px 11px 8px;
                }
            }
        }
    }
}