.k-icon{
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
    img{
        display: inline-block;
        object-fit: cover;
        object-position: center;
        aspect-ratio: 1;
    }
    .k-select-wrapper &{
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);

        .k-input &{
            right: 0;
        }

        .top-nav &{
            right: 0px;
        }
    }
    .chat-bubble .content > &{
        position: absolute;
        right: -8px;
        top: 6px;
    }
    .chat-bubble .send-other .content > &{
        left: -8px;
        right: unset;
    }
    .k-button--toggle &{
        position: absolute;
        right: 9px;
        top: 50%;
        transform: translateY(-50%);
    }
}
