.k-input {
    border-bottom: 1px solid #fff;
    display: flex;
    align-items: center;
    color: #fff;
    font: 500 14px/32px "Pretendard";

    & > div + div:not([class="k--input-count"]){
        position: relative;
        padding-left: 13px;
        &::before{
            content: "";
            position: absolute;
            top: 50%;
            left: 6px;
            transform: translateY(-50%);
            width: 1px;
            height: 10px;
            background-color: #434343;
        }
    }


    input {
        background-color: unset;
        border: none;
        outline: unset;
        color: inherit;
        font: inherit;
        flex: 1;
        text-indent: 6px;
        padding-right: 6px;

        &::placeholder {
            color: #838383;
        }
    }

    .k--input-count{
        font: 500 11px/normal "Pretendard";
        color: #747474;
        margin-top: 4px;
    }

    &:has(.k--textarea){
        padding: unset;
        border: unset;
        textarea{
            width: inherit;
            height: 133px;
            padding: 6px;
            font: 500 13px/normal "Pretendard";
            color: #fff;
            appearance: unset;
            background-color: transparent;
            border: 1px solid #4e4e4e;
            border-radius: 6px;
            outline: unset;
            resize: none;
            box-sizing: border-box;
            &:focus{
                border-color: #fff;
            }
            &::placeholder{
                color: #838383;
            }
        }
    }
}