.modal{

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;

    &-content{ 
        width: 260px;
        background-color: #191919;
        border-radius: 9px;
        border: 1px solid #474747;
        padding: 10px 24px 24px;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &-body{
        font: 900 13px/normal "Pretendard";
        color: #fff;
        p{
            min-height: 50px;
            align-content: center;
        }
    }

    &-footer{
        display: flex;
        gap: 7px;
        margin-top: 8px;
        .k-button{
            flex: 1;
        }
    }

    &.profileModal{
        .modal{
            &-content{
                padding: unset;
                width: 80dvw;
                height: 80dvh;
                display: grid;
                grid-template-rows: auto 1fr auto;
            }
            &-header{
                padding: 10px;    
                display: flex;
                justify-content: flex-end;
                align-items: center;
                .btn-wrap{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                }
            }
            &-body{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-end;
                gap: 2px;
                padding: 24px 20px;
                p{
                    min-height: unset;
                }
                .profile{
                    &-name{
                        font: 700 16px/normal "Pretendard";
                        color: #fff;
                        margin-top: 8px;
                    }
                    &-message{
                        font: 500 14px/normal "Pretendard";
                        color: #fff;
                    }
                }
            }
            &-footer{
                border-top: 1px solid rgba(255, 255, 255, 0.2);
                padding: 24px;
                justify-content : center;
                gap: 44px;
                label{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 8px;
                    font: 500 11px/normal "Pretendard";
                    color: #fff;
                    cursor: pointer;
                }
            }
        }
    }
}