.profile-card {
    width: 100%;
    padding: 7px 20px;
    display: flex;
    gap: 12px;
    align-items: center;
    font: 700 14px/130% "Pretendard";
    color: #fff;

    overflow: hidden;
    &-avatar{
        cursor: pointer;
    }
    &-info{
        min-width: 0;
        display: flex;
        flex-direction: column;
        gap: 1px;
        flex: 1;
        .status-message {
            font: {
                weight: 500;
                size: 13px;
            }
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            word-break: break-all;
            max-width: 100%;
        }
    }

    &.type{
        &-my{
            font: {
                size: 15px;
            }
            .status-message{
                font: {
                    weight: 500;
                    size: 14px;
                };
            }
        }
        &-update{
            width: fit-content;
            display: inline-flex;
            flex-direction: column;
            padding: 0 10px;
            gap: 7px;
            .name{
                font: {
                    weight: 500;
                    size: 12px;
                }
                line-height: 130%;
            }
        }
    }
}