.k-range{
    display: flex;
    align-items: center;
    gap: 16px;

    &-label{
        font: 400 12px/normal "Pretendard";
        white-space: nowrap;
        color: #fff;
        letter-spacing: 0.02em;
        &--right{
            font-size: 22px;
        }
    }

    &-wrapper{
        flex: 1;
        position: relative;
        height: 4px;
        background: #434343;

        // 진행 표시
        // &::before{
        //     content: '';
        //     position: absolute;
        //     left: 0;
        //     top: 0;
        //     height: 100%;
        //     width: var(--progress, 0%);
        //     background: #FFE707;
        //     transition: width 0.15s ease;
        //     pointer-events: none;
        // }


        // 구간 표시 (2px × 8px 빨간색)
        &::after{
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
            height: 8px;
            background-image: repeating-linear-gradient(
                to right,
                #4E4E4E 0 2px,
                transparent 2px calc(100% / var(--range-step-count, 6))
            );
            pointer-events: none;
        }
    }

    &-input{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 4px;
        background: transparent;
        outline: none;
        -webkit-appearance: none;
        appearance: none;
        z-index: 1;
        margin: unset;

        &::-webkit-slider-thumb{
            -webkit-appearance: none;
            appearance: none;
            width: 8px;
            height: 16px;
            border-radius: 4px;
            cursor: pointer;
            transition: all 0.2s;
            position: relative;
            z-index: 2;
            background-color: #919191;
            // &:hover{
            //     transform: scale(1.1);
            //     box-shadow: 0 0 0 4px rgba(255, 231, 7, 0.2);
            // }
        }

        // &::-webkit-slider-runnable-track{
        //     width: 100%;
        //     height: 4px;
        //     background: transparent;
        //     border-radius: 2px;
        // }
    }
    .wrap-setting &{
        width: 50%;
    }
}

