.dp__theme_light,
.dp__theme_dark {
    // 피커 오프너 기본 스타일
    --dp-background-color: #2D2D2D;
    --dp-border-radius: 6px;
    --dp-border-color: #4e4e4e;
    --dp-border-color-hover: #4e4e4e;
    --dp-border-color-focus: #4e4e4e;
    --dp-menu-border-color: #4e4e4e;
    --dp-font-family: "Pretendard";
    --dp-font-size: 13px;
    --dp-input-padding: 0 32px 0 12px;
    --dp-input-height: 12px;
    --dp-text-color: #EDEDED;

    --dp-month-year-row-button-size: 16px;
    --dp-icon-color: #e9e9e9;
    --dp-month-year-row-height: 18px;

    // 셀 기본 스타일
    --dp-cell-size: 26px;
    --dp-cell-border-radius: 50%;
    --dp-hover-color: rgba(238, 238, 238, 0.11);
    --dp-hover-text-color: #EEEEEE;

    --dp-primary-color: #EEEEEE;
    --dp-primary-text-color: #222222;
    --dp-secondary-color: rgba(238, 238, 238, 0.11);

    --dp-menu-min-width: 236px;
    --dp-menu-width: 236px;
}

.k-select {
    max-width: 40%;
    &--date{
        width: 131px;
        .dp__menu{
            border-radius: 10px;
            &_inner{
                // 캘린더 영역
                padding: 18px 21px;
            }
        }
        .dp__month_year_wrap{
            justify-content: center;
            & > div{
                // header 정렬 역으로
                flex-direction: row-reverse;
            }
        }
        
        .dp__calendar_header,
        .dp__calendar_row{
            font-weight: 500;
            & > div:nth-child(n+7){
                color: #FF754B;
            }
        }
        .dp--header-wrap{
            padding: 0 4px;
            .dp__btn{
                padding: unset;
            }
        }
        .dp__month_year_select{
            justify-content: flex-start;
            flex: 0;
            &[aria-label*="year"]{
                justify-content: flex-end;
                margin-right: 4px;
                &::after{
                    content: "년";
                }
            }
        }
        .dp__calendar_header_separator{
            display: none;
        }
        .dp__calendar_row{
            margin: 2px 0;
        }
        .dp__input{
            // 오프너
            height: 30px;
            font-weight: 500;
        }
        .dp__cell_offset{
            // 이전달, 다음달의 일수 디자인
            opacity: .4;
        }
        .dp__cell_disabled{
            &:hover{
                background: var(--dp-hover-color);
            }
        }
    }
    &--time{
        width: 104px;
        .dp__input{
            height: 30px;
            font-weight: 500;
        }
    }
    &--text{
        width: fit-content;
        .k-select-opener{
            font: 800 16px/normal "Pretendard";
            color: #fff;
            padding: unset;
            border: unset;
            border-radius: unset;
            background: unset;
            height: unset;
        }
    }
    .k-select--date {
        .holiday-red {
          color: red !important;
          font-weight: 600;
        }
        .saturday-blue {
          color: #1e90ff !important;
          font-weight: 600;
        }
    }
    &-wrapper{
        position: relative;
    }
    &-opener{
        display: inline-flex;
        align-items: center;
        gap: 8px;
        background-color: unset;
        border-radius: 6px;
        border: 1px solid #4e4e4e;
        color: #EDEDED;
        font: 500 13px/30px "Pretendard";
        padding-inline: 12px;
        height: 30px;
        cursor: pointer;
        outline: unset;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        // background: url('@/assets/icons/12/ic-polygon-bottom.svg') no-repeat right 12px center;
        svg{
            margin-right: auto;
        }
        &--placeholder{
            color: #595959;
        }
        .k-input &{
            padding-inline: 0 30px;
            border: unset;
            border-radius: unset;
            // background: {
            //     image: url('@/assets/icons/12/ic-arrow-bottom.svg');
            //     position-x: right;
            // }
            &--placeholder{
                color: #838383;
            }
        }
    }
    &-option{
        &-list{
            position: absolute;
            top: 100%;
            left: 0;
            min-width: 260px;
            border: 1px solid #434343;
            z-index: 10;
        }
        &-item{
            width: 100%;
            font: 500 14px/normal "Pretendard";
            color: #fff;
            letter-spacing: -0.05em;
            padding: 7px 12px 6px;
            background-color: #222222;
            cursor: pointer;
            &:hover{
                background: #2C2D2D;
            }
            &.checked{
                background: #383838;
            }
        }
    }
    .top-nav &{
        .k-select-opener{
            padding-inline: 0 15px;
        }
    } 
    .wrap-setting &{
        width: 50%;
    }
}