.k-tabs{
    &.type{
        &-filled{
            .k-tabs__list{
                gap: unset;
            }
            .k-tab{
                flex: 1;
                padding: 6px 0;
                font:500 13px/normal "Pretendard";
                color: #9E9E9E;
                border-color: #434343;
            }
        }
        &-text{
            .k-tabs__list{
                gap: 14px;
            }
            .k-tab{
                padding: unset;
                font: 500 14px/130% "Pretendard";
                color: #9E9E9E;
                border: unset;
                &[aria-selected="true"]{
                    font-weight: 700;
                }
            }
        }
        &-emoji{
            .k-tabs__list{
                gap: unset;
                align-items: center;
            }
            .wrap{
                display: flex;
                align-items: center;
                flex: 1;
                flex-wrap: nowrap;
                overflow-x: auto;
                &::-webkit-scrollbar{
                    display: none;
                }
            }
            .k-tab{
                flex: 0 0 auto;
                width: 30px;
                aspect-ratio: 1;
                padding: unset;
                border-radius: 4px;
                overflow: hidden;
                border: 1px solid transparent;
                &:has(.k-icon){
                    width: 24px;
                }
                &[aria-selected="true"]{
                    border-color: rgba(255, 255, 255, 0.24);
                    background-color: rgba(255, 255, 255, 0.05);
                }
            }
        }

        &-setting{
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-columns: 128px 1fr;
            .k-tabs__list{
                gap: unset;
                flex-direction: column;
                border-right: 1px solid #434343;
            }
            .k-tabs__panel{
                padding: 32px 30px;
                background-color: #222222;
            }
            .k-tab{
                padding: 13px 20px;
                border: unset;
                text-align: left;
                font: 700 13px/100% "Pretendard";
                color: #a7a7a7;
                &[aria-selected="true"]{
                    color: #fff;
                    background-color: rgba(255, 255, 255, 0.05);
                }
            }
        }
    }
    &__list{
        display: flex;
        gap: 20px;

        .k-tab{
            appearance: unset;
            background-color: unset;
            border: none;
            padding: 10px 2px;
            font: 700 16px/130% "Pretendard";
            color: #838383;
            cursor: pointer;
            border-bottom: 1px solid #fff;
            &[aria-selected="true"]{
                color: #fff;
                border-color: #fff;
            }
        }
    }
    &__icon{
        display: inline-block;
        width: 20px;
        height: 20px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    &__panel{
        padding-top: 16px;
    }
}