.k-tabs{
    max-width: 260px;
    &__list{
        display: flex;
        gap: 20px;

        &.type-filled{
            gap: unset;
            button{
                flex: 1;
                padding: 6px 0;
                font:500 13px/normal "Pretendard";
                color: #9E9E9E;
                border-color: #434343;
            }
        }
        &.type-text{
            gap: 14px;
            button{
                padding: unset;
                font: 500 14px/130% "Pretendard";
                color: #9E9E9E;
                border: unset;
                &[aria-selected="true"]{
                    font-weight: 700;
                }
            }
        }
        &.type-emoji{
            gap: unset;
            align-items: center;
            .wrap{
                display: flex;
                align-items: center;
                flex: 1;
                flex-wrap: nowrap;
                overflow-x: auto;
                &::-webkit-scrollbar{
                    display: none;
                }
            }
            button{
                flex: 0 0 auto;
                width: 30px;
                aspect-ratio: 1;
                padding: unset;
                border-radius: 4px;
                overflow: hidden;
                border: 1px solid transparent;
                &:has(.k-icon){
                    width: 24px;
                }
                &[aria-selected="true"]{
                    border-color: rgba(255, 255, 255, 0.24);
                    background-color: rgba(255, 255, 255, 0.05);
                }
            }
        }
        button{
            appearance: unset;
            background-color: unset;
            border: none;
            padding: 10px 2px;
            font: 700 16px/130% "Pretendard";
            color: #838383;
            cursor: pointer;
            border-bottom: 1px solid #fff;
            &[aria-selected="true"]{
                color: #fff;
                border-color: #fff;
            }
        }
    }
    &__icon{
        display: inline-block;
        width: 20px;
        height: 20px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    &__panel{
        padding-top: 16px;
    }
}